<script>
  import Authenticate from "../components/Authenticate.svelte";
</script>


<svelte:head>
  <title>Sveltekit 1.0</title>
  <meta name="description" content="Svelte kit 1.0 tutorial with firebase auth and firestore" />
  <link rel="icon" type="image/png" href="favicon.png" />
	<link rel="icon" sizes="192x192" href="favicon.png" />
	<link rel="apple-touch-icon" href="favicon.png" />
	<meta name="msapplication-square310x310logo" content="favicon.png" />
  <meta name="og:image" content='/favicon.png' />
  <meta name="og:image:alt" content='Sveltekit icon' />
</svelte:head>
<Authenticate></Authenticate>