<script>
  import { doc, setDoc } from "firebase/firestore";
  import { authHandlers, authStore } from "../../store/store";
  import { db } from "../../lib/firebase/firebase";

  let todoList = [];
  let currentTodo = '';
  let error = false;

  authStore.subscribe(curr => {
    todoList = curr.data.todos
  })

  function addTodo() {
    error = false;

    if(!currentTodo) {
      error = true;
    } else {
      todoList = [...todoList, currentTodo]
    }

    currentTodo = ''
  }

  function editTodo(index) {
    let newTodoList = todoList.filter((val, i) => {
      return i !== index
    })

    currentTodo = todoList[index]
    todoList = newTodoList
  }

  function removeTodo(index) {
    let newTodoList = todoList.filter((val, i) => {
      return i !== index
    })

    todoList = newTodoList
  }

  async function saveTodos() {
    try {
      const userRef = doc(db, 'users', $authStore.user.uid)
      await setDoc(
        userRef,
        {
          todos: todoList,
        },
        {merge: true}
      )
    } catch (err) {
      console.log('Error saving the information', err);
    }
  }
</script>

{#if !$authStore.loading}
  <div class="main-container">
    <div class="header-container">
      <h1>Todo List</h1>
      <div class="header-btn">
        <button on:click={saveTodos}>
          <i class="fa-regular fa-floppy-disk"></i>
          <p>Save</p>
        </button>
        <button on:click={authHandlers.logout}>
          <i class="fa-solid fa-right-from-bracket"></i>
          <p>Logout</p>
        </button>
      </div>

    </div>
    <main>
      {#if todoList.length === 0} 
        <p>You have nothing todo!</p>
      {:else}
        {#each todoList as todo, index}
          <div class="todo">
            <p>{index+1}. {todo}</p>
            <div class="actions">
              <i on:click={() => editTodo(index)} on:keydown={() => {}} class="fa-regular fa-pen-to-square"></i>
              <i on:click={() => removeTodo(index)} on:keydown={() => {}} class="fa-solid fa-trash-can"></i>
            </div>
          </div>
        {/each}
      {/if}
      
    </main>
    <div class={"enter-todo " + (error ? "errorBorder" : '')}>
      <input bind:value={currentTodo} type="text" placeholder="Enter todo">
      <button on:click={addTodo}>ADD</button>
    </div>
  </div>
{/if}



<style>
  .main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 24px;
    padding: 24px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-btn {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  
  .header-container button {
    background: #003c5b;
    color: white;
    padding: 14px 18px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
  }

  .todo {
    border-left: 1px solid cyan;
    padding: 8px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 1.3rem;
  }

  .actions i {
    cursor: pointer;
  }

  .actions i:hover {
    color: coral;
  }

  .header-container button i {
    font-size: 1.1rem;
  }

  .header-container button:hover {
    opacity: 0.7;
  }

  .enter-todo {
    display: flex;
    align-items: stretch;
    border: 1px solid #0891b2;
    border-radius: 5px;
    overflow: hidden;
  }

  .errorBorder {
    border-color: coral !important;
  }

  .enter-todo input {
    background: transparent;
    border: none;
    padding: 14px;
    color: white;
    flex: 1
  }

  .enter-todo input:focus {
    outline: none;
  }

  .enter-todo button {
    padding: 0 28px;
    background: #003c5b;
    border: none;
    color: cyan;
    font-weight: 600 ;
    cursor: pointer;
  }

  .enter-todo button:hover {
    background: transparent;
  }
</style>